@page "/"
@using System.Threading.Tasks

<div class="generator">
    <p class="lead">Click the button to get your elf name.</p>

    @if (!string.IsNullOrEmpty(currentName))
    {
        <h3 class='elf-name-heading'>Your Elf Name:</h3>
        <div class="elf-name">@currentName</div>
    }
    else
    {
        <h3 class='elf-name-heading'>Your Elf Name:</h3>
        <div class="elf-name">No elf name generated yet.</div>
    }

    <button class="btn" @onclick="Generate">Generate Elf Name</button>
</div>

<div class="form-embed expanded">
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScVvfbEO3pV_6WqBFnv8yhCu4-kXWu1Nv7uFne6lK_VdIHiUg/viewform?embedded=true"
        scrolling="no"
        loading="lazy"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        title="Feedback form">
    </iframe>
</div>


@code {
    private string currentName = string.Empty;

    private static readonly string[] first = new[] {
        "SugarWhirl",
        "SnickerSprinkle",
        "SugarSprinkle",
        "SnickerSpice",
        "PepperSpice",
        "MapleSpice",
        "HoneySpice",
        "GingerSpice",
        "ButterSpice",
        "SnickerSnowball",
        "SugarSnowball",
        "MapleSnowball",
        "CinnamonSnow",
        "SugarPecan",
        "SnickerPecan",
        "MaplePecan",
        "HoneyPecan",
        "GingerPecan",
        "PepperPecan",
        "SugarMint",
        "SnickerMint",
        "HoneyMint",
        "ButterMint",
        "MapleMacaroon",
        "HoneyMacaroon",
        "SugarMacaroon",
        "GingerMacaroon",
        "ButterMacaroon",
        "NutmegMacaroon",
        "MapleKiss",
        "MapleKiss",
        "SugarKiss",
        "SnickerKiss",
        "MapleKiss",
        "HoneyKiss",
        "CinnamonKiss",
        "ButterKiss",
        "MapleHoliday",
        "GingerHoliday",
        "ChocolateHoliday",
        "NutmegHoliday",
        "CinnamonHoliday",
        "EspressoHoliday",
        "SugarCrinkle",
        "MapleCrinkle",
        "ChocolateCrinkle",
        "PepperCrinkle",
        "NutmegCrinkle",
        "SnickerCrinkle",
        "ButterCrinkle",
        "PepperBerry",
        "Cran-Butter",
        "ChocolateThin",
        "NutberryThumbprint",
        "ButterBread",
        "ButterCrisp",
        "ButterSpice",
        "ButterWhirl",
        "ButterBlossom",
        "ButterBark",
    };
    private static readonly string[] last = new[] {
        "AugeBerry",
        "AugeBreeze",
        "AugeFrost",
        "BelleBerry",
        "BelleGlynt",
        "BelleJoy",
        "BelleSang",
        "BlitheBroth",
        "BrightBerry",
        "BrightJoy",
        "Emberstock",
        "EverBerry",
        "EverBreeze",
        "EverEmber",
        "EverGlynt",
        "EverGreen",
        "EverJoy",
        "FernBerry",
        "FernBree",
        "FernFrost",
        "FernGlynt",
        "FernJoy",
        "FernWynter",
        "FlurryEmber",
        "FlurryFrost",
        "FlurryWynter",
        "GoodBerry",
        "GoodBree",
        "GoodGlynt",
        "GoodWillow",
        "GoodWynter",
        "KaendleBerry",
        "KaendleGlynt",
        "KaendleJoy",
        "KaendleWynter",
        "KringleBerry",
        "MerryBerry",
        "MerryMirth",
        "MerryToe",
        "MerryWinter",
        "PluckyBerry",
        "PluckyEmber",
        "PluckyFern",
        "PluckyMerry",
        "PluckyMerry",
        "SnowBerry",
        "SnowEmber",
        "SnowGlynt",
        "SnowMerry",
        "WorthyStock",
        "WynterFlynt",
        "WynterMerry",
        "YuleBerry",
        "YuleBreeze",
        "YuleEmber",
        "YuleMerry",
        "YuleSang",
        "YuleWynter",
    };
    private readonly Random rng = new();

    private async Task Generate()
    {
        for (int i = 1; i <= 9; i++)
        {
            currentName = new string('*', (i % 3));
            await Task.Delay(333);
        }
        
        currentName = $"{first[rng.Next(first.Length)]} {last[rng.Next(last.Length)]}";
    }

    // iframe is always expanded to show full form inline
}
